* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #272727;
}

.ranking-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px;
  width: fit-content;
}

.ranking-header img {
  width: 80px;
  height: auto;
}

.ranking-header h1 {
  font-size: 28px;
  font-weight: 700;
  color: #272727;
  margin: 0;
  text-transform: uppercase;
}

.participants-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  padding: 20px;
}

.participant-card {
  background: white;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Imagem circular com tamanho fixo */
.image-participant {
  width: 100px;
  /* largura fixa */
  height: 100px;
  /* altura fixa */
  object-fit: cover;
  /* evita distorções */
  border-radius: 50%;
  /* deixa redonda */
  margin-bottom: 10px;
  /* espaço para o texto */
  border: 5px solid #BA3536;
  /* borda branca para destacar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Nome do participante */
.participant-card h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 8px 0 5px;
  color: #BB3D42;
}

/* Descrição */
.participant-card p {
  font-size: 14px;
  color: #555;
  margin: 0;
}